.link-button{
  margin: 0 auto;

  width: 100px;  
  height: 81px;
  background: url("../../assets/img/joystick.png") no-repeat center;
  background-size: contain;
  image-rendering: pixelated;
  z-index: 2;

  position: relative;
}
.link-info{
  margin: 0 auto;

  width: 100px;  
  height: 81px;
  background: url("../../assets/img/light-bulb.png") no-repeat center;
  background-size: contain;
  image-rendering: pixelated;
  z-index: 2;
}
.link-button-menu{
  width: 128px;  
  height: 51px;
  background: url("../../assets/img/btn-back.png") no-repeat center;
  background-size: contain;
  image-rendering: pixelated;
  &.active {
    width: 128px;  
    height: 51px;
    background: url("../../assets/img/btn-back-active.png") no-repeat center;
    background-size: contain; 
    image-rendering: pixelated;
  } 
}
.header__title{
  text-align: center;
}
.main__window{
		width: 100%;
		height: calc(100vh - 180px);
		position: relative;
		overflow: hidden;
		background: linear-gradient(#ffab87, #8bacdb);

    &--title{
      text-align: center;
      padding-top: 5vh;
      color: getColor('col-b');
      text-shadow: 2px 2px 0 getColor('col-w');
    }
    &--subtitle{
    text-align: center;
    padding-top: 10vh;
    color: getColor('col-b');
    text-shadow: 2px 2px 0 getColor('col-w');


    }
}
.choose__box{
  display: flex;
  position: relative;

  &::after{
    content: '';
    display: block;
    width: 100%;
    height: 250px;
    background-image: url("../../assets/img/HomeGrass.png");
    background-repeat: repeat-x;
    background-position: top left;
    background-size: auto 100%;
    image-rendering: pixelated;
    position: absolute;
    top: -130%;
    left: 0;

    z-index: 1;
  }
}
.whiskas-amount{
    position: relative;
}
.whiskas-amount::after{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: url("../../assets/img/whiskas.png") no-repeat center/cover;
    image-rendering: pixelated;
    position: absolute;
    top: 10%;
    left: 150%;
}
.playercat{
  display: block;
  width: 100%;
  max-width: 250px;  
  aspect-ratio: 1 / 1;  
  background: url("../../assets/skins/CatMenu.png") no-repeat center;
  background-size: contain;
  image-rendering: pixelated;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.play{
  position: absolute;
  top: 100%;
  left: 13%;
  font-size: 2rem;
}
.whiskas__collected{
    text-align: center;
    padding-top: 5vh;
    color: getColor('col-b');
    text-shadow: 2px 2px 0 getColor('col-w');
    font-size: 2rem;
}